.text{
  height: 200px;
  margin-bottom: 10px;
}
.china{
 height: 620px;
width: 100%;  
}
.App{
  background: url(../public/bg.jpg) no-repeat center ;
  background-size: cover;
  display: flex;
}
.flexleft{
  display: flex;
  flex-direction: column;
  flex: 4;
}
.flexright{
  display: flex;
  flex-direction: column;
  flex: 4;
}
.flexcenter{
  flex: 8;
}